<div>
  <div class="w3-sidebar w3-bar-block sidebar">
    <div class="w3-bar-item">
      <img id="thumbnail" alt="Course thumbanil" />
      {{ course.title }}
      <!--      <i class="editButton fa fa-edit" routerLink="/course-form"></i>-->
    </div>

    <!-- Chapters -->
    <div *ngFor="let chapter of course.chapterList">
      <button
        class="w3-bar-item w3-button"
        (click)="openChapter(chapter)"
        routerLink="/course-videos"
        style="margin-top: 3px;"
      >
        <span style="font-family: sans-serif; font-size: medium; margin-right: 5px;" >{{ chapter.title }}</span>  
        <span
          class="fa"
          [class.fa-angle-down]="selectedChapter !== chapter"
          [class.fa-angle-up]="selectedChapter === chapter"
        ></span>
        <i
          class="fa fa-trash-o trash-icon"
          (click)="deleteChapter(chapter.title)"
        ></i>
      </button>

      <div *ngIf="selectedChapter == chapter.title">
        <ul>
          <li
            *ngFor="let video of chapter.videoList"
            class="w3-bar-item w3-button"
            (click)="selectVideo(video)"
            [ngStyle]="{
              'border-left':
                selectedVideo?.title === video.title
                  ? '1px solid white'
                  : 'transparent',
              'border-radius':
                selectedVideo?.title === video.title ? '5px 5px 5px 5px' : '0'
            }"
          >
            <span
              class="green-circle"
              *ngIf="selectedVideo?.title === video.title"
            ></span>
            {{ video.title }}
            <i
              class="fa fa-trash-o trash-icon"
              (click)="deleteVideo(video.title)"
            ></i>
          </li>
        </ul>
      </div>
    </div>

    <!-- Plus Button to Add Chapter -->

    <div id="container" style="display: none">
      <div class="newChapter">
        <!-- <input
          id="newChapterInput"
          class="newChapterInput form-control"
          type="text"
          placeholder="Enter chapter name"
          [ngModel]="newChapterName"
          (ngModelChange)="newChapterName = $event"
        /> -->
        <div class="input-data">
          <input
            id="newChapterInput"
            type="text"
            [ngModel]="newChapterName"
            (ngModelChange)="newChapterName = $event"
          />
          <div class="underline"></div>
          <label for="">New Chapter</label>
        </div>
        <i class="gg-check" (click)="addChapter()"></i>
      </div>
    </div>
    <div class="button-center">
      <button class="plus-button" (click)="displayNewChapter()"></button>
    </div>
    <button id="createCourse" class="btn btn-dark" (click)="updateCourse()">
      Create course
    </button>
  </div>
</div>
