<mat-card
  class="example-card"
  [ngClass]="{ 'inactive-course': course.archived }"
>
  <img
    class="thumbnail"
    mat-card-image
    src="{{ course.thumbnailUrl }}"
    alt="Course thumbnail"
  />
  <mat-card-content>
    <mat-card-header>
      <img mat-card-avatar [src]="course.pictureUrl" alt="" />
      <mat-card-title>{{ course.title }}</mat-card-title>
      <mat-card-subtitle>{{ course.author }}</mat-card-subtitle>
    </mat-card-header>
    <i
      *ngFor="let r of getStarRange(course.ratingMean)"
      class="fa fa-star selected"
    ></i>
    <i
      *ngFor="let r of getStarRange(5 - course.ratingMean)"
      class="fa fa-star"
    ></i>

    <span *ngIf="course.ratingList">({{ course.ratingList.length }})</span>
    <span *ngIf="!course.ratingList">(0)</span>

    <button class="btn btn-dark enroll-btn" (click)="courseDetails()">
      Details
    </button>
  </mat-card-content>
</mat-card>
