<mat-card class="example-card">
  <img
    class="thumbnail"
    mat-card-image
    src="{{ course.thumbnailUrl }}"
    alt="Course thumbnail"
  />
  <mat-card-content>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ course.title }}</mat-card-title>
      <mat-card-subtitle>{{ course.author }}</mat-card-subtitle>
    </mat-card-header>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span>(0)</span>
    <button class="btn btn-dark enroll-btn" (click)="courseDetails()">Details</button>
  </mat-card-content>
</mat-card>
